
:root {

    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: #f47c57;
    --soft-violet: #af67e9;
    --soft-blue: rgb(101, 101, 231);
    --dark-grey-blue: rgb(74, 75, 94);
    --grey-blue: hsl(240, 6%, 50%);
    --light-grey-blue: hsl(240, 5%, 91%);
}


* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}


html {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 84%); 
    height: 100%;

}




img {

    position: absolute;
    z-index: 2;
    left: 542px;
    top: 540px;
}

section {

   margin-top: 300px;
   background-color: white;
   border-radius: 25px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0px 16px 26px 0px var(--dark-grey-blue);
}

.flex-container {

    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.faq-wrapper {

   align-self: stretch;
  /*  border: 2px solid black; */
   margin-right: 100px;
   margin-top: 50px;
   margin-bottom: 25px;
   
   width: 600px;
   
    
}

h1 {

    font-size: 40px;
    padding: 20px 20px 20px 0px;
    color: var(--dark-blue);
}


button {

    background-color: white;
}

button:hover {

    color: var(--soft-red);
    text-shadow: 0.5px 0 var(--soft-red);
}


.accordion {

    
    color: var(--grey-blue);
    cursor: pointer;
    padding: 26px 26px 26px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    border-bottom: 2px solid var(--light-grey-blue);


}



.active, .accordion button:active {

   color: var(--dark-blue);
   text-shadow: 0.5px 0 0 black;
}



.panel {

   
    padding: 0px 18px 0px 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    
}

p {

   display: inline-block;
   font-size: 15px;
   margin-top: 10px;
   color: var(--grey-blue);
   line-height: 25px;
    
}

.img-wrapper {

    margin-right: auto;
    height: 600px;
    width: 600px;
    /* border: 2px solid black; */
    background-image: url(/images/illustration-woman-online-desktop.svg), url(/images/bg-pattern-desktop.svg);
    z-index: 1;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 1000px;
    background-position: -100px 50px,-510px -250px;
    
}




/* -------  FAQ Arrow ------- */

.accordion:after {                                 
    
    content: url(/images/icon-arrow-down.svg);
    transform: rotate(180deg);
    float: right;
    margin-left: 5px;
  }
  
  .active::after {
   
    content: url(/images/icon-arrow-down.svg);
    transform: rotate(360deg);
  }


/* ----------------------- */




/* ----- Mobile Version ---- */




@media (max-width: 414px) {

    html {

        
    }

    body {

        width: 100vw;
        height: 100vh;
        margin-top: 130px;

     }


    h1 {

        font-weight: bolder;
        font-size: 30px;
        margin-top: 120px;
        text-align: center;
        
    }

    p {

        display: inline-block;
        font-size: 13px;
        margin-top: 5px;
        color: var(--grey-blue);
        line-height: 20px;

    }


    img {

       display: none;
    }

    section {
        
        width: auto;
        margin: 100px 35px 100px 35px;
        padding-bottom: 30px;
         
     }


    .flex-container {

        
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
        margin: 15px;
        
        
        
        
    }

    .faq-wrapper {

        align-self: stretch;
       /*  border: 2px solid black; */
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        width: 100%;
        
         
     }

     .img-wrapper {

        position: absolute;
        width: 100%;
        height: 100%;
        background-position: 40px -5px, 56px 120px;
        background-image: url(/images/illustration-woman-online-mobile.svg), url(/images/bg-pattern-mobile.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 300px 200px, 290px 110px;
        
    }

    


    .accordion {

       
        color: var(--grey-blue);
        cursor: pointer;
        padding: 20px 20px 20px 0px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 14px;
        border-bottom: 2px solid var(--light-grey-blue);
    
    
}


}



.attribution { 
    margin-top: 50px;
     font-size: 11px;
     text-align: center; 
     color: var(--dark-blue);
    }
.attribution a {
     color: var(--dark-blue);
     text-decoration: none;
    
    }